

#topPart {

	
	position: relative;
	width: 110%;
	margin-top:-40px;
	height: 620px;
	background-color: #A63600;
	margin-bottom: 10px;
	margin-left:-10px;
	margin-right:40px;

}
#name {
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    position:absolute;
    font-family:Palatino Linotype;
    margin-bottom:200px;
    font-size:3em;
    margin-left:115px;

    top:100px;
    color:white;

}
#description p {
	position:absolute;
	margin-left:5px;
	top:170px;
	left:110px;
	margin-right:50px;
	
	color:white;
	font-family:Palatino Liniotype;
	font-size:1.2em;
	font-weight:bold;
	letter-spacing:.1em;

}

#line {
	position: absolute;
	top:250px;
	color:white;
	left:110px;
	width:70em;
}

#middlePart {

margin-left:-10px;


	position: absolute;
	width: 108.5%;
	height:25%;
	
	top:575px;
	background-color: #FF9E73;


}

#twitter {
	position:absolute;

	top:625px;
	left:470px;
	
}
#facebook {
	position:absolute;
	top:625px;
	left:545px;
}
#email
{
	position:absolute;
	top:625px;
	left:615px;
}

#linkedin 
{
	position:absolute;
	top:625px;
	left:685px;
}
#workHeader
{
	color:white;
	position:absolute;
	font-family:Palatino Liniotype;
	font-weight:normal;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
	letter-spacing:.07em;
	font-size: 1.25em;
	top:300px;
	left:110px;
}
#workProjects
{
	color:white;
	position:absolute;
	font-family:Palatino Liniotype;
	font-weight:normal;

	letter-spacing:.1em;
	font-size: 1.0em;
	top:345px;
	left:110px;
}
a {
	text-decoration:underline;
	color:white;
	
}
a:hover
{

	color:green;
}

#contact 
{
	color:white;
	color:white;
	position:absolute;
	font-family:Palatino Liniotype;
	font-weight:normal;

	letter-spacing:.1em;
	font-size: 1.0em;
	top:500px	;
	left:110px;
}



